<!-- <!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test EJS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body> -->
<header>
    <div class="title">
        <b>Movies</b> 
    </div>
    <div>
        <% if (typeof chemin === 'undefined') { %>
            <button class="button" onclick="window.location.href='/movies'">Movies</button>
            <form action="/movies" method="post" style="display:inline;">
                <button type="submit" class="button">Create Movie</button>
            </form>
        <% } else if (chemin === 'movie') { %>
            <button class="button" onclick="window.location.href='/movies'">Movies</button>
            <form action="/movies" method="post" style="display:inline;">
                <button type="submit" class="button">Create Movie</button>
            </form>
            <button class="button" onclick="window.location.href='/movie/delete/<%= movie._id %>'">Delete Movie</button>
            <button class="button" onclick="window.location.href='/movie/update/<%= movie._id %>'">Update Movie</button>
        <% } %>
    </div>
    
</header>