<% for (const joke of jokes) { %>
    <card class="joke-card">
        <div class="joke" onclick="window.location.href='/jokes/<%= joke.id %>'" >
            <h2 ><%= joke.joke %></h2>
        </div>
    </card>
<% } %>